<ul class="social">
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/insta.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/fb.svg" %}
    </a>
  </li>

  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/youtube.svg" %}
    </a>
  </li>
</ul>
