<section class="partners-section">
  <div class="container">
    <h2 class="h2 text-center">Partneři</h2>
    <ul class="partners-section__inner">
      <li>
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partner-1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li>
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partner-2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-1.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-2.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-1.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-2.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-1.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-2.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-1.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
       <li>
         <a href="#" class="partners-section__item">
           <img
             src="images/content/partner-2.png"
             loading="lazy"
             alt="partner"
           />
         </a>
       </li>
    </ul>
  </div>
</section>
