.header {
  box-shadow: 0px 1px 52px 0px #d8d4d7;
  border-bottom: 0.2px solid var(--color-gray);
  .logo {
    width: 110px;
    height: 52px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    position: relative;
  }
  &__social {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid var(--color-gray);
    @include media-breakpoint-down(lg) {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
    }
  }
}

.collapse {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(lg) {
    position: absolute;
    right: -16px;
    top: 100%;
    flex-direction: column;
    border-bottom: 0.2px solid var(--color-gray);
    background-color: var(--color-light);
    padding: 12px 16px;
    z-index: 999;
    min-width: 15rem;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    //  box-shadow: 0 0.0625rem 3.25rem 0 #d8d4d7;
  }
  @include media-breakpoint-down(md) {
    width: calc(100% + 32px);
    height: 100vh;
  }
}
.is-nav-open .header .collapse {
  @include media-breakpoint-down(lg) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
.navbar {
  &-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    @include media-breakpoint-only(md) {
      gap: 16px;
      align-items: flex-start;
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(md) {
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;
      margin-top: 24px;
    }
  }
}
.nav-link {
  display: block;
  font-size: 14px;
  line-height: 21px;
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;
  @include media-breakpoint-down(md) {
    font-size: 24px;
    text-align: center;
  }
  &:hover {
    text-decoration-color: inherit;
    color: var(--color-action-primary);
  }
}
.hockeyLogo {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 24px;
  @include media-breakpoint-down(lg) {
    margin: 0 auto;
  }
  @include media-breakpoint-down(md) {
    width: 60px;
    height: 60px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.c-header__opener {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  align-items: center;
  position: relative;
  gap: 12px;
  color: var(--color-primary);
  cursor: pointer;
  display: none;
  font-size: 14px;
  line-height: 21px;

  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0;
    margin-left: auto;
  }
  span {
    width: 13px;
    height: 1.5px;
    background: var(--color-primary);
    transform: translateY(1px);
    display: block;
    border-radius: 4px;
    &::before,
    &::after {
      content: "";
      transition: all 0.2s;

      position: absolute;
      width: 13px;
      height: 1.5px;
      border-radius: 4px;
      background: var(--color-primary);
      left: 0;
      right: 0;
    }
    &::before {
      transform: translateY(-4px);
    }
    &::after {
      transform: translateY(4px);
    }
  }
  &:focus {
    box-shadow: none;
  }
  @include media-breakpoint-down(lg) {
    display: flex;
  }
}
.c-header__opener.is-open {
  span {
    border-color: var(--color-primary);
    background: var(--color-light);
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}
