<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logos">
        <a href="#" class="footer__logo">
          <img src="images/ico/logo.svg" alt="logo" />
        </a>
        <a href="#" class="footer__hockeyLogo">
          <img src="images/ico/footer-logo.svg" alt="karate" />
        </a>
      </div>
      <div class="footer__social">
        {% include "@components/social/social.twig" %}
      </div>
      <ul class="footer__list">
        <li>
          <a href="#">Národní sportovní agentura</a>
        </li>
        <li>
          <a href="#">Česká unie sportu</a>
        </li>
        <li>
          <a href="#">Olympijský výbor ČR</a>
        </li>
      </ul>
      <div class="copyright">
        Vyrobeno v
        <a href="https://esportsmedia.cz/" target="_blank">
          <img src="images/ico/esports.svg" alt="esports" />
        </a>
        v roce 2022
      </div>
    </div>
  </div>
</footer>
