<section class="searchResult">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-10 mx-auto">
        <div class="searchResult__header">
          <form class="homeSearch__form">
            <label class="homeSearch__label">
              <button>{% include "@images/search.svg" %}</button>
              <input
                id="searchInput"
                value="Praha"
                type="text"
                placeholder="Vyhledejte klub podle města.... "
              />
              <a href="#" class="homeSearch__close">
                {% include "@images/close.svg" %}
              </a>
            </label>
          </form>
          <p class="p4 mb-2">Zobrazené výsledky pro vyhledávání:</p>
          <h1 class="h1">Praha</h1>
        </div>
        <ul class="searchResult__list">
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__alert">
                {% include "@images/alert.svg" %} Přes letní prázdniny jsou
                všechny tréninky přerušeny. Více informací na webu.
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__alert">
                {% include "@images/alert.svg" %} Přes letní prázdniny jsou
                všechny tréninky přerušeny. Více informací na webu.
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__alert">
                {% include "@images/alert.svg" %} Přes letní prázdniny jsou
                všechny tréninky přerušeny. Více informací na webu.
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
          <li class="searchResult__item">
            <div class="searchItem">
              <div class="searchItem__header">
                <div class="searchItem__logo">
                  <img
                    src="images/ico/logo-detail.svg"
                    alt="item"
                    loading="lazy"
                  />
                </div>
                <div class="searchItem__header-info">
                  <h2 class="h5">Centrum karate Praha</h2>
                  <p class="p3">Nad Kapličkou 15, Praha 10</p>
                  <p class="p4">(10 km daleko)</p>
                </div>
              </div>
              <div class="searchItem__alert">
                {% include "@images/alert.svg" %} Přes letní prázdniny jsou
                všechny tréninky přerušeny. Více informací na webu.
              </div>
              <div class="searchItem__time">
                <p class="mb-1">Tréninky:</p>
                <ul>
                  <li>Po: 8:00 - 10:00</li>
                  <li>Út: 8:00 - 10:00</li>
                  <li>St: 8:00 - 10:00</li>
                  <li>Čt: 8:00 - 10:00</li>
                  <li>Pá: 8:00 - 10:00</li>
                </ul>
              </div>
              <a href="#" class="searchItem__link">
                {% include "@images/globe.svg" %} webové stránky
              </a>
              <a href="#" class="btn btn-secondary"
                >Detail klubu {% include "@images/arrow-right.svg" %}</a
              >
            </div>
          </li>
        </ul>
        <button class="btn btn-primary mx-auto buttonMore">Načíst další</button>
      </div>
    </div>
  </div>
</section>
