{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/homeSearch/homeSearch.twig" %}

<div class="map-wrapper">
  <div class="map" id="map-canvas"></div>
</div>
{% include "@components/partners-section/partners-section.twig" %} {% endblock
%}
