{% extends "@components/base/base.twig" %} {% set title = "03.0_search-result"
%} {% block main %} {% include "@components/searchResult/searchResult.twig" %}

<div class="map-wrapper">
  <div class="map" id="map-canvas"></div>
</div>
{% endblock %}
