{% extends "@components/base/base.twig" %} {% set title =
"05.0_registration-done" %} {% block main %}

<section class="registration">
  <div class="container">
    <div class="registrationDone">
      <h1 class="h1">Registrace byla úspěšně přijata!</h1>
      <p class="p1">
        Po schválení administrátora se objeví klub a lokace na mapě.
      </p>
      <a href="#" class="btn btn-primary">Zpět na hlavní stránku</a>
    </div>
  </div>
</section>

{% endblock %}
