{% extends "@components/base/base.twig" %} {% set title = "04.0_registration" %}
{% block main %}

<div id="snippet--flashes"></div>
<section class="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10 mx-auto">
        <h1 class="h1">Registrace klubu</h1>
        <form
          action="/registrace-klubu"
          method="post"
          enctype="multipart/form-data"
          id="frm-registrationForm-form"
          class="registration__form"
        >
          <div class="registration__item">
            <input
              type="text"
              name="team"
              class="registration__input"
              id="team"
              required
              data-nette-rules='[{"op":":filled","msg":"This field is required."}]'
              placeholder="Název klubu"
            />
            <label for="team" class="registration__label">Název klubu</label>
          </div>

          <div class="registration__item registration__item--small">
            <input
              type="file"
              name="logo"
              class="registration__input"
              id="file-upload"
              data-nette-rules='[{"op":":fileSize","msg":"The size of the uploaded file can be up to 134217728 bytes.","arg":134217728}]'
              accept="image/png, image/svg+xml"
              placeholder="Logo klubu (svg, png)"
            />
            <label for="file-upload" class="custom-file-upload">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 13l-3-3-3 3"
                  stroke="#999191"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  d="M8 20H7a4 4 0 01-4-4V7a4 4 0 014-4h10a4 4 0 014 4v9a4 4 0 01-4 4h-1M12 10v11"
                  stroke="#999191"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
              Logo klubu (svg, png)</label
            >
            <div id="image-preview"></div>
          </div>
          <div class="registration__item">
            <input
              type="text"
              name="address"
              class="registration__input"
              id="address"
              required
              data-nette-rules='[{"op":":filled","msg":"Adresa je povinná"}]'
              placeholder="Adresa"
            />
            <label for="address" class="registration__label">Adresa</label>
          </div>
          <div class="registration__item">
            <input
              type="text"
              name="ico"
              class="registration__input js-gps"
              id="ico"
              placeholder="IČO"
            />
            <label for="ico" class="registration__label">IČO</label>
          </div>

          <h2 class="h5">Klub</h2>
          <div class="registration__club">
            <div class="registration__item">
              <input
                type="text"
                name="web"
                class="registration__input"
                id="web"
                placeholder="Web"
              />
              <label for="web" class="registration__label">Web</label>
            </div>
            <div class="registration__item">
              <input
                type="text"
                name="instagram"
                class="registration__input"
                id="instagram"
                placeholder="Instagram"
              />
              <label for="instagram" class="registration__label"
                >Instagram</label
              >
            </div>
            <div class="registration__item">
              <input
                type="text"
                name="youtube"
                class="registration__input"
                id="youtube"
                placeholder="Youtube"
              />
              <label for="youtube" class="registration__label">Youtube</label>
            </div>
            <div class="registration__item">
              <input
                type="text"
                name="facebook"
                class="registration__input"
                id="facebook"
                placeholder="Facebook"
              />
              <label for="facebook" class="registration__label">Facebook</label>
            </div>
          </div>

          <div id="snippet-registrationForm-trainings">
            <h3 class="h5">Tréninky</h3>
            <div class="registration__training mb-4">
              <div class="registration__item">
                <input
                  type="text"
                  name="trainingPlace"
                  class="registration__input"
                  id="trainingPlace"
                  placeholder="Místo tréninků"
                />
                <label for="trainingPlace" class="registration__label"
                  >Místo tréninků</label
                >
              </div>
              <div class="registration__item">
                <input
                  type="text"
                  name="trainingAddress"
                  class="registration__input"
                  id="trainingAddress"
                  placeholder="Místo tréninků"
                />
                <label for="trainingAddress" class="registration__label"
                  >Adresa tréninků</label
                >
              </div>
              <div class="registration__item">
                <input
                  type="number"
                  name="trainingTime"
                  class="registration__input"
                  id="trainingTime"
                  placeholder="Časy tréninků"
                />
                <label for="trainingTime" class="registration__label"
                  >Časy tréninků</label
                >
              </div>
              <div class="registration__item registration__item--textarea">
                <textarea
                  class="registration__input"
                  placeholder="Další informace o trénincích"
                  name="trainingInfo"
                  id="trainingInfo"
                ></textarea>

                <label for="trainingInfo" class="registration__label"
                  >Další informace o trénincích</label
                >
              </div>

              <p class="ps-4 mb-2 d-block">Pro koho jsou tréninky určené</p>
              <ul class="registration__check">
                <label
                  ><input
                    type="checkbox"
                    name="trainings[0][categories][]"
                    value="0"
                  />Mládež</label
                ><br /><label
                  ><input
                    type="checkbox"
                    name="trainings[0][categories][]"
                    value="1"
                  />Dospělí</label
                ><br /><label
                  ><input
                    type="checkbox"
                    name="trainings[0][categories][]"
                    value="2"
                  />Senioři</label
                >
              </ul>
            </div>
          </div>

          <input
            type="submit"
            name="trainings[multiplier_creator]"
            class="addButton ajax"
            value="Přidat další místo a časy tréninků"
            formnovalidate
            data-nette-validation-scope='["trainings"]'
          />

          <div id="snippet-registrationForm-contacts">
            <h4 class="h5">Konktaktní osoba</h4>
            <div class="registration__contacts mb-4">
              <div class="registration__item">
                <input
                  type="text"
                  name="name"
                  class="registration__input"
                  id="name"
                  placeholder="Jméno"
                />
                <label for="name" class="registration__label">Jméno</label>
              </div>
              <div class="registration__item">
                <input
                  type="text"
                  name="surname"
                  class="registration__input"
                  id="surname"
                  placeholder="Příjmení"
                />
                <label for="surname" class="registration__label"
                  >Příjmení</label
                >
              </div>
              <div class="registration__item">
                <input
                  type="text"
                  name="post"
                  class="registration__input"
                  id="postition"
                  placeholder="Pozice"
                />
                <label for="post" class="registration__label">Pozice</label>
              </div>
              <div class="registration__item registration__item--small">
                <input
                  type="number"
                  name="phone"
                  class="registration__input"
                  id="telephon"
                  placeholder="Telefonní číslo"
                />
                <label for="phone" class="registration__label"
                  >Telefonní číslo</label
                >
              </div>
              <div class="registration__item registration__item--small">
                <input
                  type="email"
                  name="email"
                  class="registration__input"
                  id="mail"
                  data-nette-rules='[{"op":":email","msg":"Please enter a valid email address."}]'
                  placeholder="Email"
                />
                <label for="email" class="registration__label">Email</label>
              </div>
            </div>
          </div>

          <input
            type="submit"
            name="contacts[multiplier_creator]"
            class="addButton ajax"
            value="Přidat kontaktní osobu"
            formnovalidate
            data-nette-validation-scope='["contacts"]'
          />
          <div class="registration__agreement">
            <label class="label--checkbox">
              <input
                name="agreement"
                required
                type="checkbox"
                class="registration__checkbox"
              />
              Souhlasím se zpracováním osobních údajů
            </label>
          </div>
          <input
            type="submit"
            name="save"
            value="Uložit"
            class="btn btn-primary"
          />
          <input type="hidden" name="id" value="" /><input
            type="hidden"
            name="trainings[0][id]"
            value=""
          /><input type="hidden" name="contacts[0][id]" value="" /><input
            type="hidden"
            name="_do"
            value="registrationForm-form-submit"
          />
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
