<section class="clubDetail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-10 mx-auto">
        <div class="clubDetail__inner">
          <a href="#" class="link mb-4">
            {% include "@images/arrow-left.svg" %} Zpět na vyhledávání</a
          >
          <div class="clubDetail__social mb-3">
            <a href="#" class="clubDetail__logo">
              <img src="images/ico/logo-detail.svg" alt="logo" />
            </a>
            {% include "@components/social/social.twig" %}
          </div>
          <h1 class="h1 mb-3">Centrum karate Praha</h1>
          <ul class="tags mb-4">
            <li>
              <a class="tag" href="#"> Mládež </a>
            </li>
            <li>
              <a class="tag" href="#"> Dospělí </a>
            </li>
            <li>
              <a class="tag" href="#"> Senioři </a>
            </li>
          </ul>
          <p class="p3 mb-3">IČO: 32913238</p>
          <p class="p3 mb-3">
            Náš klub je aktivním členem České asociace tradičního karate,
            umožňující start na národních a mezinárodních turnajích. Nabízíme
            pravidelné zkoušky technické vyspělosti, semináře s legendami karate
            a školení trenérů.
          </p>
          <a class="btn btn-primary mt-32" href="#">Nábor</a>
        </div>

        <div class="clubDetail__contacts">
          <h2 class="h5 mb-4">Kontakty</h2>
          <div class="row g-4">
            <div class="col-md-6">
              <ul class="clubDetail__contacts-list">
                <li>
                  {% include "@images/user.svg" %} Hlavní trenér:
                  <strong>Jakub Štěpán</strong>
                </li>
                <li>
                  {% include "@images/telefon.svg" %} Telefon:
                  <strong
                    ><a href="tel:+420725053018">+420 725 053 018</a></strong
                  >
                </li>

                <li>
                  {% include "@images/mail.svg" %}Email:
                  <strong
                    ><a href="mailto:step.kub@seznam.cz"
                      >step.kub@seznam.cz</a
                    ></strong
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="clubDetail__contacts-list">
                <li>
                  {% include "@images/user.svg" %} Asistent trenéra:
                  <strong>Jakub Štěpán</strong>
                </li>
                <li>
                  {% include "@images/telefon.svg" %} Telefon:
                  <strong
                    ><a href="tel:+420725053018">+420 725 053 018</a></strong
                  >
                </li>
                <li>
                  {% include "@images/mail.svg" %}Email:
                  <strong
                    ><a href="mailto:iveta.dusilova@gmail.com"
                      >iveta.dusilova@gmail.com</a
                    ></strong
                  >
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="btn btn-secondary mt-32">Přejít na web</a>
        </div>
        <div class="clubDetail__items">
          <h3 class="h5">Adresa tréninků a časy</h3>
          <div class="row g-4 mt-0">
            <div class="col-md-6">
              <div class="clubItem">
                <a href="#" class="clubItem__img">
                  <img
                    src="images/content/detail.png"
                    loading="lazy"
                    alt="item"
                  />
                </a>
                <div class="clubItem__info">
                  <ul class="tags mb-3">
                    <li>
                      <a class="tag" href="#"> Mládež </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Dospělí </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Senioři </a>
                    </li>
                  </ul>
                  <p class="fw-bold mb-3">Nad Kapličkou 15, Praha 10</p>
                  <p class="mb-2">Tréninky:</p>

                  <ul class="clubItem__time">
                    <li>Po: 8:00 - 10:00</li>
                    <li>Út: 8:00 - 10:00</li>
                    <li>St: 8:00 - 10:00</li>
                    <li>Čt: 8:00 - 10:00</li>
                    <li>Pá: 8:00 - 10:00</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="clubItem">
                <a href="#" class="clubItem__img">
                  <img
                    src="images/content/detail.png"
                    loading="lazy"
                    alt="item"
                  />
                </a>
                <div class="clubItem__info">
                  <ul class="tags mb-3">
                    <li>
                      <a class="tag" href="#"> Mládež </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Dospělí </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Senioři </a>
                    </li>
                  </ul>
                  <p class="fw-bold mb-3">Nad Kapličkou 15, Praha 10</p>
                  <p class="mb-2">Tréninky:</p>

                  <ul class="clubItem__time">
                    <li>Po: 8:00 - 10:00</li>
                    <li>Út: 8:00 - 10:00</li>
                    <li>St: 8:00 - 10:00</li>
                    <li>Čt: 8:00 - 10:00</li>
                    <li>Pá: 8:00 - 10:00</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="clubItem">
                <a href="#" class="clubItem__img">
                  <img
                    src="images/content/detail.png"
                    loading="lazy"
                    alt="item"
                  />
                </a>
                <div class="clubItem__info">
                  <ul class="tags mb-3">
                    <li>
                      <a class="tag" href="#"> Mládež </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Dospělí </a>
                    </li>
                    <li>
                      <a class="tag" href="#"> Senioři </a>
                    </li>
                  </ul>
                  <p class="fw-bold mb-3">Nad Kapličkou 15, Praha 10</p>
                  <p class="mb-2">Tréninky:</p>

                  <ul class="clubItem__time">
                    <li>Po: 8:00 - 10:00</li>
                    <li>Út: 8:00 - 10:00</li>
                    <li>St: 8:00 - 10:00</li>
                    <li>Čt: 8:00 - 10:00</li>
                    <li>Pá: 8:00 - 10:00</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
